.user {
  margin: auto;
  width: 69%;
  margin-top: 5em;
}

.user-cart-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.user-purchases {
  display: flex;
  justify-content: space-between;
}