.Titlebar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #131921;
    color: white;
    padding: 1em;
}

.Titlebar div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Titlebar div a {
    color: white;
    text-decoration: none;
}

.Titlebar div a:nth-child(2) {
    padding-left: 1.5em;
}